*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    background-color: hsl(148, 38%, 91%); 
    font-family: 'Karla', sans-serif;
    font-size: 11px; 
    align-items: center; 
    display: flex;
    justify-content: center;
}
.table{
    width: 32%;
    background-color:  hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 16px;
    height: 500px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 30px;
    

}
.form-row{
    display:flex;
    width:500px;
    align-items: flex-start;
    justify-content:space-evenly;
     
}
.box{
    width: 250px;
    display: flex;
    border-color:  hsl(187, 24%, 22%);
    flex-direction: column;
    
}
label{
    font-weight: 250;
    padding: 5px;
    margin-bottom: 5px;
}
  input {
      padding: 9px;
      width: 220px;
      border: 1px solid #ccc;
      border-radius: 8px;
      display:flex;
    
    }
    .box-1{
     width: 400px;
    
    border-color:  hsl(187, 24%, 22%);
    
    }
.email{
      padding: 9px;
      width: 470px;
      border: 1px solid #ccc;
      border-radius: 8px;
}
.box-2{
    display: flex;
    gap:4px;
    flex-direction: column;

}
.row{
    display: flex;
    gap:14px;
}

.row1 {
  display: flex;
  text-align: center;
     padding: 9px;
      width: 220px;
      border: 1px solid #ccc;
      border-radius: 8px;
      
}
#q1,#q2{
    padding: 25px;
    width: 55px;
    height: 15px;
}
.m1{
     height: 90px;
     padding:20 px;
      width: 485px;
      border: 1px solid #ccc;
      border-radius: 8px;
}
.large{
    display:flex;
    gap:2px;
    flex-direction: column;
}
.list{
    display:flex;
    gap:1px;
    align-items:flex-start;
    justify-content: flex-start;
    
}
#l1{
    padding: 25px;
    width: 55px;
    height: 15px;
    
}
.small{
    background-color:  hsl(169, 82%, 27%);
    width:480px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color:hsl(0, 0%, 100%);
}
